$color-neutral-100: #ffffff;
$color-neutral-200: #f4f4f4;
$color-neutral-300: #e9e9e9;
$color-neutral-400: #757575;
$color-neutral-500: #3a3a3a;
$color-neutral-600: #2d2d2d;
$color-neutral-700: #1f1f1f;
$color-neutral-800: #050505;

$color-accent-purple: #a445ed;
$color-accent-red: #ff5252;

$fs-heading-xl: 4rem;
$fs-heading-l: 2rem;
$fs-heading-m: 1.5rem;
$fs-heading-s: 1.25rem;
$fs-heading-xs: 1.125rem;
$fs-heading-xxs: 1rem;
$fs-body-m: 1.125rem;
$fs-body-sm: 1rem;
$fs-body-s: 0.875rem;

$fw-bold: 700;
$fw-regular: 400;

// fonts
@font-face {
	font-family: Inter;
	src: url("../assets/fonts/inter/Inter-VariableFont_slnt\,wght.ttf");
}

@font-face {
	font-family: Lora;
	src: url("../assets/fonts/lora/Lora-VariableFont_wght.ttf");
}

@font-face {
	font-family: Inconsolata;
	src: url("../assets/fonts/inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf");
}

@mixin heading-l {
	font-size: $fs-heading-l;
	font-weight: $fw-bold;

	@media (min-width: 768px) {
		font-size: $fs-heading-xl;
	}
}

@mixin heading-m {
	font-size: $fs-heading-xs;
	font-weight: $fw-bold;

	@media (min-width: 768px) {
		font-size: $fs-heading-m;
	}
}

@mixin heading-s {
	font-size: $fs-heading-xxs;
	font-weight: $fw-regular;

	@media (min-width: 768px) {
		font-size: $fs-heading-s;
	}
}

@mixin body-m {
	font-size: $fs-body-m;
	font-weight: $fw-regular;
	line-height: 1.5rem;

	@media (min-width: 768px) {
		font-size: $fs-heading-m;
	}
}

@mixin body-sm {
	font-size: $fs-body-sm;
	font-weight: $fw-regular;

	@media (min-width: 768px) {
		font-size: $fs-body-m;
	}
}

@mixin body-s {
	font-size: $fs-body-s;
	font-weight: $fw-regular;

	@media (min-width: 768px) {
		font-size: $fs-body-m;
	}
}

// Utilities
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font: inherit;
}

:root {
	--container-text-color: #{$color-neutral-600};
	--search-bar-bg: #{$color-neutral-200};
	--color-scheme: light;
	color-scheme: var(--color-scheme);

	@media (prefers-color-scheme: dark) {
		--container-text-color: #{$color-neutral-100};
		--search-bar-bg: #{$color-neutral-700};
		--color-scheme: dark;
	}
}

:root:has(#color-scheme:checked) {
	--container-text-color: #{$color-neutral-100};
	--search-bar-bg: #{$color-neutral-700};
	--color-scheme: dark;
}

:root:has(#color-scheme:not(:checked)) {
	--color-scheme: light;
	--container-text-color: #{$color-neutral-600};
	--search-bar-bg: #{$color-neutral-200};
}

.sans-serif {
	font-family: Inter, "sans-serif";
}

.serif {
	font-family: Lora, "sans-serif";
}

.mono {
	font-family: Inconsolata, "sans-serif";
}
