.audio-container,
.play-btn,
.play-btn svg {
	inline-size: 3rem;
	block-size: 3rem;
	cursor: pointer;
}

.play-btn svg:hover circle {
	opacity: 100%;
}

.play-btn svg:hover path {
	fill: white;
}

@media (min-width: 768px) {
	.audio-container,
	.play-btn,
	.play-btn svg {
		inline-size: 4.75rem;
		block-size: 4.75rem;
	}
}
