:root {
	/* Neutral */
	--neutral-100: #ffffff;
	--neutral-200: #f4f4f4;
	--neutral-300: #e9e9e9;
	--neutral-400: #757575;
	--neutral-500: #3a3a3a;
	--neutral-600: #2d2d2d;
	--neutral-700: #1f1f1f;
	--neutral-800: #050505;

	/* Accent */
	--accent-purple: #a445ed;
	--accent-red: #ff5252;

	/* Font families */
	--font-sans: Inter, sans-serif;
	--font-serif: Lora, serif;
	--font-mono: Inconsolata, monospace;

	/* Sizes */
	--fs-heading-l: 4rem;
	--lh-heading-l: 4.8rem;

	--fs-heading-m: 1.5rem;
	--lh-heading-m: 1.8rem;

	--fs-heading-s: 1.25rem;
	--lh-heading-s: 1.5rem;

	--fs-body-m: 1.125rem;
	--lh-body-m: 1.5rem;

	--fs-body-s: 0.875rem;
	--lh-body-s: 1.1rem;

	--fw-bold: 700;
	--fw-regular: 400;

	/* Default Light Theme */
	--bg-page: var(--neutral-100);
	--bg-input: var(--neutral-200);

	--text-primary: var(--neutral-600);
	--text-accent: var(--accent-purple);

	--border-default: var(--neutral-400);
	--border-focus: var(--accent-purple);
	--border-error: var(--accent-red);

	--active: var(--accent-purple);
	--error: var(--accent-red);
}

/* Dark Theme */
:root[data-darkMode="dark"] {
	--bg-page: var(--neutral-800);
	--bg-surface: var(--neutral-700);
	--bg-input: var(--neutral-700);

	--text-primary: var(--neutral-100);
}

html {
	background-color: var(--bg-page);
	color: var(--text-primary);
}

html[data-darkMode="dark"] {
	background-color: var(--bg-page);
	color: var(--text-primary);
}

/* Fonts */
html[data-font="Sans Serif"] {
	font-family: var(--font-sans);
}

html[data-font="Serif"] {
	font-family: var(--font-serif);
}

html[data-font="Mono"] {
	font-family: var(--font-mono);
}

/* Utilities */
*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font: inherit;
	color: inherit;
}

button {
	border: none;
	background: none;
}
