.main-search-result {
	display: grid;
	gap: 2rem;
}

.title-section {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.word-container {
	display: grid;
	gap: 0.5rem;
}

.phonetic {
	color: var(--accent-purple);
}

.meaning {
	position: relative;
	display: grid;
	gap: 2rem;
}

.secondary-heading {
	display: flex;
	align-items: center;
	gap: 1.25rem;
	font-weight: var(--fw-bold);
	font-style: var(--fs-italic);
}

.secondary-heading::after {
	content: "";
	flex: 1;
	block-size: 1px;
	background-color: var(--neutral-300);
}

html[data-darkMode="dark"] .secondary-heading::after {
	background-color: var(--neutral-500);
}

.description {
	display: grid;
	gap: 1rem;
}

.heading-3 {
	color: var(--neutral-400);
}

.desc-list {
	padding-inline-start: 1rem;
	display: grid;
	gap: 0.75rem;
}

::marker {
	color: var(--accent-purple);
}

.desc-list span {
	display: block;
	margin-block-start: 0.75rem;
	color: var(--neutral-400);
}

.synonyms {
	display: flex;
	gap: 1.5rem;
}

.synonym-links {
	display: flex;
	gap: 0.25rem;
	flex-wrap: wrap;
}

.synonym-link {
	color: var(--accent-purple);
	font-weight: var(--fw-bold);
	cursor: pointer;
}

.synonym-link:hover {
	text-decoration: underline;
}

.source {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border-top: 1px solid var(--eutral-300);
	padding-top: 1.5rem;
	font-size: var(--fs-body-s);
}

.heading-4 {
	color: var(--neutral-400);
	text-decoration: 1px underline;
	font-size: inherit;
}

.source-links {
	display: grid;
	gap: 0.5rem;
}

.source-links a {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	text-decoration: underline;
	font-size: inherit;
	color: inherit;
}

.source-links a:hover {
	color: var(--accent-purple);
}

.new-window {
	inline-size: 0.75rem;
}

.empty-error {
	color: var(--accent-red);
}

.no-def-msg {
	display: grid;
	justify-items: center;
	text-align: center;
	gap: 1.5rem;
	margin-block-start: 4rem;
}

.no-def-msg h1 {
	font-weight: var(--fw-bold);
}

.no-def-msg p {
	color: var(--neutral-400);
}

@media (min-width: 768px) {
	.main-search-result {
		gap: 2.5rem;
	}

	.meaning {
		gap: 2.5rem;
	}

	.secondary-heading {
		gap: 2rem;
	}

	.description {
		gap: 1.5rem;
	}

	.desc-list {
		padding-inline-start: 2.375rem;
	}

	.source {
		flex-direction: row;
		gap: 1.25rem;
	}

	.heading-4 {
		font-size: inherit;
	}
}
