.main-search-result {
	display: grid;
	gap: 2rem;

	@media (min-width: 768px) {
		gap: 2.5rem;
	}
}

.title-section {
	display: flex;
	justify-content: space-between;
}

.word-container {
	display: grid;
	gap: 0.5rem;
}

.main-title {
	font-weight: var(--fw-bold);
}

.phonetic {
	color: var(--accent-purple);
}

.play-btn {
	inline-size: 3rem;
	block-size: 3rem;
	background: url("../assets/icon-play.svg") center no-repeat;
	background-size: cover;
	border: none;
	cursor: pointer;

	@media (min-width: 768px) {
		inline-size: 4.75rem;
		block-size: 4.75rem;
	}
}

.meaning {
	position: relative;
	display: grid;
	gap: 2rem;

	@media (min-width: 768px) {
		gap: 2.5rem;
	}
}

.secondary-heading {
	/* @include utility.heading-m; */
	display: flex;
	align-items: center;
	gap: 1.25rem;

	&::after {
		content: "";
		flex: 1;
		block-size: 1px;
		background-color: var(--neutral-300);
	}

	@media (min-width: 768px) {
		gap: 2rem;
	}
}

.description {
	display: grid;
	gap: 1rem;

	@media (min-width: 768px) {
		gap: 1.5rem;
	}
}

.heading-3 {
	/* @include utility.heading-s; */
	color: var(--neutral-400);
}

.desc-list {
	/* @include utility.body-sm; */
	padding-inline-start: 1rem;
	display: grid;
	gap: 0.75rem;

	@media (min-width: 768px) {
		padding-inline-start: 2.375rem;
	}
}

::marker {
	color: var(--accent-purple);
}

.desc-list span {
	display: block;
	margin-block-start: 0.75rem;
	color: var(--neutral-400);
}

.synonyms {
	/* @include utility.heading-s; */
	color: var(--neutral-400);
	display: flex;
	gap: 1.5rem;
}

.synonyms .synonym-link {
	color: var(--accent-purple);
	font-weight: var(--fw-bold);
	display: inline-block;
}

.synonyms .synonym-link:hover {
	text-decoration: underline;
	cursor: pointer;
}

.source {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	border-top: 1px solid var(--eutral-300);
	padding-top: 1.5rem;
	/* font-size: utility.$fs-body-s; */

	@media (min-width: 768px) {
		flex-direction: row;
		gap: 1.25rem;
	}
}

.heading-4 {
	/* @include utility.heading-s; */
	color: var(--neutral-400);
	text-decoration: 1px underline;
	font-size: inherit;

	@media (min-width: 768px) {
		font-size: inherit;
	}
}

.source-links {
	display: grid;
	gap: 0.5rem;
}

.source-links a {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	text-decoration: underline;
	font-size: inherit;
	color: inherit;
}

.source-links a:hover {
	color: var(--neutral-800);
}

.empty-error {
	/* @include utility.heading-s; */
	color: var(--accent-red);
}

.no-def-msg {
	/* @include utility.heading-s; */
	display: grid;
	justify-items: center;
	text-align: center;
	gap: 1.5rem;
	margin-block-start: 4rem;
}

.no-def-msg h1 {
	font-weight: var(--fw-bold);
}

.no-def-msg p {
	color: var(--neutral-400);
}
