.custom-select {
	margin-inline-start: auto;
	position: relative;

	font-size: var(--fs-body-s);
	font-weight: var(--fw-bold);
	line-height: var(--lh-body-s);
}

.select-btn {
	display: flex;
	align-items: center;
	gap: 1rem;
	cursor: pointer;
}

.option-container {
	position: absolute;
	top: 2.125rem;
	right: 0;

	padding: 1.5rem 4.25rem 1.5rem 1.5rem;
	background-color: var(--bg-surface);
	display: flex;
	flex-direction: column;
	text-wrap: nowrap;
	gap: 1rem;

	border-radius: 1rem;
}

.option-container:hover {
	box-shadow: 0 5px 30px 0 var(--neutral-300);
}

html[data-darkMode="dark"] .option-container:hover {
	box-shadow: 0 5px 30px 0 var(--active);
}

.option-container li {
	cursor: pointer;
}

.option-container li:hover {
	color: var(--accent-purple);
}
