.theme-toggle {
	position: relative;
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

.theme-toggle::before {
	content: "";
	position: absolute;
	inline-size: 1px;
	block-size: 2rem;
	left: -1rem;
	background-color: var(--neutral-300);
}

.checkbox-label {
	display: inline-block;
	line-height: 0;
}

input[type="checkbox"] {
	appearance: none;
	inline-size: 2.5rem;
	block-size: 1.25rem;
	background-color: var(--neutral-400);
	border-radius: 999px;
	outline: none;
	position: relative;
	transition: background-color 200ms ease;
}

input[type="checkbox"]:hover {
	cursor: pointer;
}

input[type="checkbox"]:focus-visible {
	outline: none;
}

input[type="checkbox"]::before {
	content: "";
	inline-size: 0.875rem;
	block-size: 0.875rem;
	background-color: var(--neutral-100);
	border-radius: 999px;
	position: absolute;
	inset: 3.2px;
	transition: transform 200ms ease, background-color 200ms ease;
}

input[type="checkbox"]:checked {
	background-color: var(--accent-purple);
}

input[type="checkbox"]:checked:hover {
	cursor: pointer;
}

input[type="checkbox"]:checked::before {
	transform: translateX(1.25rem);
}

.moon-icon {
	stroke: var(--neutral-400);
	transition: stroke 200ms ease;
}

html[data-darkMode="dark"] .moon-icon {
	stroke: var(--accent-purple);
}
