/* @use "utility"; */

.theme-toggle {
	position: relative;
	display: flex;
	gap: 0.75rem;
	align-items: center;

	&::before {
		content: "";
		position: absolute;
		inline-size: 1px;
		block-size: 2rem;
		left: -1rem;
		/* background-color: utility.$color-neutral-300; */
		background-color: grey;
	}
}

.theme-icon {
	height: 20px;
	width: 20px;
}
.checkbox-label {
	display: inline-block;
	line-height: 0;
}

input[type="checkbox"] {
	appearance: none;
	inline-size: 2.5rem;
	block-size: 1.25rem;
	/* background-color: utility.$color-neutral-400; */
	background-color: hotpink;
	border-radius: 999px;
	outline: none;
	position: relative;

	&:hover {
		cursor: pointer;
	}

	&:focus-visible {
		outline: none;
	}
}

input[type="checkbox"]::before {
	content: "";
	inline-size: 0.875rem;
	block-size: 0.875rem;
	/* background-color: utility.$color-neutral-100; */
	background-color: aqua;
	border-radius: 999px;
	position: absolute;
	inset: 3px;
}

input[type="checkbox"]:checked {
	/* background-color: utility.$color-accent-purple; */
	background-color: hotpink;

	&:hover {
		cursor: pointer;
	}
}

input[type="checkbox"]:checked::before {
	transform: translateX(1.25rem);
}
